{% load staticfiles %}
<html>
    <head>
        <title>A Blog Built Using Django</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}	   
            <h1><a href="/">A Blog Built Using Django</a></h1><br><small>by following <a href="//tutorial.djangogirls.org/en/">Django Girls's Gitbook Tutorial</a></small>
        </div>
        <div class="content container">
             <div class="row">        
                 <div class-"col-md-8">
                 {% block content %}
                 {% endblock %}
             	 <div>
             </div>
        </div>
	<footer class="container-fluid">
	<hr>
	<p class="text-center">WATS 1020, Winter 2016 - Final Course Project by Sunny Yuen</p>
	</footer>
    </body>
</html>
